footer {
  padding-top: 1em;
  padding-bottom: 1em;
<<<<<<< HEAD
 
=======

>>>>>>> fb4be5d5c1974c9fde6299b87becb47049d4b547
}

h4{
  color: blue;
}
<<<<<<< HEAD
=======

>>>>>>> fb4be5d5c1974c9fde6299b87becb47049d4b547
footer{
  background-color: #eec0d0;
}
